@import "../../korean-style-common/index.less";

header {
  border-bottom: 1px solid var(--line-color);
  padding      : 22px 30px;

  >h1 {
    font-weight: 600;
  }
}

.services {
  img {
    width        : 64px;
    height       : 64px;
    border-radius: 16px;
  }
}