@import "../../korean-style-common/index.less";

header {
  position        : sticky;
  top             : 0;
  background-color: var(--page-bg-color);

  border-bottom  : 1px solid var(--line-color);
  padding        : 22px 30px;
  display        : flex;
  justify-content: space-between;

  >h1 {
    font-weight: 600;
  }
}

main {
  max-width: 1200px;
  margin   : 0 auto;
  padding  : 30px;

  .services {
    ul {
      display              : grid;
      grid-template-columns: repeat(2, 1fr);

      @container (width < 800px) {
        grid-template-columns: 1fr;
      }
    }

    img {
      width        : 64px;
      height       : 64px;
      border-radius: 16px;
    }
  }
}

footer {
  border-top     : 1px solid var(--line-color);
  max-width      : 1200px;
  margin         : 0 auto;
  padding        : 22px 30px;
  display        : flex;
  justify-content: space-between;
  padding-bottom : 120px;

  >.social {
    display: flex;
    gap    : 8px;
  }
}